.portal-wrapper {
  overflow-x: hidden;
  
  .portal-header {
    background-color: #fff;
    box-shadow: 0 1px 10px rgba(95,111,149,.1);
    .header-image {
      max-width: 1920px;
      margin: 0px auto;
      width: 100%;
      height: 80px;
      .img-logo {
        height: 100%;
        padding-left: 100px;
      }
    }
  }

}
