.portal-wrapper {
  .portal-header {
    background-color: #fff;
    box-shadow: 0 1px 10px rgba(95, 111, 149, 0.35);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    .header-image {
      max-width: 1920px;
      margin: 0px auto;
      width: 100%;
      height: 80px;
      .img-logo {
        height: 100%;
        padding-left: 100px;
      }
    }
  }
  .portal-footer {
    width: 100%;
    margin-top: 80px;
    background: url(../../assets/images/footer.jpg) center no-repeat;
    background-size: cover;
    .footer-container {
      max-width: 1920px;
      margin: 0px auto;

      .footer-row {
        width: 80%;
        margin: 0px auto;

        .footer-items {
          padding: 30px 0px 30px 0px;

          h3 {
            display: inline-block;
            font-size: 1.25rem;
            color: #fff;
            line-height: 1.2;
            text-transform: uppercase;
          }
          a {
            color: @text-color;
            font-size: 1rem;
            line-height: 1.2;
            padding-bottom: 0;
            margin-bottom: 0;
          }
          .footer-title {
            width: 80%;
            border-bottom: 2px solid #a61f2d;
            margin-bottom: 23px;
          }
          
          .footer-social {
            display: inline-block;
            margin-left: 30px;
            margin-bottom: 0px;
            li {
              display: inline-block;
              margin-left: 12px;

              a {
                color: #fff;
                font-size: 1.3rem;
              }
            }
          }
        }
      }
    }
  }
}

// Our Services - PRESTIGE DENTAL LOCATION - ...
.title-custom {
  padding-top: 2.5rem;
  margin-bottom: 2.5rem;

  h2 {
    text-align: center;
    font-size: 2rem;
    color: @blue-2;
    padding-bottom: 1.25rem;
    line-height: 1.2;
    position: relative;

    &::after {
      content: '';
      width: 13.8125rem;
      height: 0.375rem;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background: url(../../assets/images/icon-h1.png) center no-repeat;
      background-size: 13.8125rem 0.375rem;
    }
  }
}
