.custom-layout-wrapper {
  .sider {
    position: relative;
    .text-trans {
      width: 64%;
      height: 18px;
      overflow: hidden;
      &.collapsed {
        width: 0px;
      }
    }

    .log-out-btn {
      position: absolute;
      bottom: 12px;
      width: calc(100% - 8px);
      padding: 12px 0px;
      color: @blue-2;
      border-radius: 8px;
      margin-inline: 4px;
      margin-block: 4px;
      transition: all 0.3s ease-in-out;
      &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.06);
      }
      .log-out-text {
        margin-left: 8px;
      }
    }

    .logo {
      position: relative;
      color: @blue-2;
      font-size: 18px;
      margin-block: 12px;

      .wrap-logo-header {
        height: 38px;
        margin-left: 2px;
        .logo-title {
          margin: 0px;
          color: @blue-2;
          font-size: 18px;
          line-height: 20px;
        }
        .username {
          margin-top: 4px;
          font-size: 12px;
        }
      }

      .button-collapse {
        position: absolute;
        top: 0px;
        right: -12px;
        z-index: 1;
        width: 28px;
        height: 28px;
        background-color: @white-1;
        border-radius: 100px;
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1);
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .content-wrapper {
    padding: 20px;

    .card-wrapper {
      height: calc(100vh - 40px);
      overflow-y: overlay;
    }
  }
}
