.carousel-wrapper {
  .carousel-items {
    width: 100%;
    height: 500px;
  }
}

.ant-carousel .slick-dots li button {
  background: @black-1;
}

.ant-carousel .slick-dots li.slick-active button {
  background: @red-1;
}
